izzy-tracker {
  --bg: hsl(0, 0%, 95%);
  display: grid;
  background: var(--bg);
  padding: 30px;
  margin: 40px;
  gap: 20px;
  grid-template-columns: 3fr 4fr;
  box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.5);
}
izzy-tracker .trackerBox > h1 {
  margin: 0;
  padding: 10px;
}
izzy-tracker .trackerBox:nth-child(2) > h1 {
  text-align: right;
}
izzy-tracker .content {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 50vh;
  scrollbar-width: thin;
  border: 10px solid var(--bg);
}
izzy-tracker .content::-webkit-scrollbar {
  width: 8px;
}
izzy-tracker .content::-webkit-scrollbar-track {
  background: #ededed;
}
izzy-tracker .content::-webkit-scrollbar-thumb {
  background: #d9d9d9;
}
izzy-tracker .content::-webkit-scrollbar-thumb:hover {
  background: #c4c4c4;
}
izzy-tracker .content::-webkit-scrollbar-thumb:active {
  background: #b3b3b3;
}
izzy-tracker .content > h1 {
  position: sticky;
  top: 0;
  background: var(--bg);
  padding: 0.6em 0;
  margin: 0;
  font-size: 1rem;
}
izzy-tracker .answers {
  white-space: pre-line;
  margin-left: 1em;
  margin-top: -1em;
  line-height: 1.5;
}
izzy-tracker .threads section {
  display: flex;
  margin-bottom: 2em;
}
izzy-tracker .threadAct {
  position: sticky;
  top: 0;
  width: 5ch;
  text-align: right;
  line-height: 1;
  align-self: start;
  margin: 0.6em 0;
  padding: 0;
  font-size: 0.9rem;
}
izzy-tracker .threadList {
  margin-left: 10px;
  border-left: 2px solid var(--group1-rgb, gray);
  flex: 1;
}
izzy-tracker thread {
  display: block;
  padding: 0.5em 0.4em 0.5em 1em;
  transition: background 0.1s;
  position: relative;
  background: rgba(255,255,255,0);
}
izzy-tracker thread:hover {
  background: rgba(255,255,255,0.4);
}
izzy-tracker thread a {
  font-weight: bold;
  display: block;
  text-transform: lowercase;
}
izzy-tracker thread a::after {
  content: '';
  display: block;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}
izzy-tracker thread p {
  margin: 0;
}
