.izzy {
  --light: 242, 228, 148 !important;
  --dark: 207, 163, 60 !important;
  --bgImage: url(https://img.nickpic.host/Sinsbb.png);
  --bgPosition: 100% 20%;
}

.orion {
  --light: 213, 214, 182 !important;
  --dark: 151, 163, 134 !important;
  --bgImage: url(https://img.nickpic.host/SiuYAe.png)
}

.veronica {
  --light: 244, 184, 54 !important;
  --dark: 224, 89, 31 !important;
  --bgImage: url(https://img.nickpic.host/SehJhW.png);
}

.iz-container {
  width: 80%;
  max-width: 52ch;
  margin: 25px auto;
  --padX: 2.75rem;
  --padY: 1.5rem;
  --inset: 0.6rem;
  --radius: 10px;
}

.iz-container main {
  display: block;
  background: #fcfcfc;
  border-radius: calc(var(--radius) * 2);
  overflow: hidden;
}

.iz-container .content:before,
.iz-container .header:before {
  position: absolute;
  pointer-events: none;
  content: "";
  top: var(--inset);
  bottom: var(--inset);
  left: var(--inset);
  right: var(--inset);
  border-width: 2px;
  border-style: solid;
}

.iz-container .header {
  z-index: 2;
  position: relative;
  padding: calc(var(--padY) * 1.75) var(--padX) var(--padY) var(--padX);
  margin: 0;
  line-height: 1.5;
  background-image: linear-gradient(to bottom right, rgba(var(--dark), 0.7), rgba(var(--light), 0.7)), var(--bgImage, none);
  background-position: var(--bgPosition, none);
  background-size: cover;
  color: white;
  text-shadow: 0 0 2px rgb(var(--dark), 1);
  letter-spacing: 1px;
  font-size: 1.7em;
  font-weight: bold;
  min-height: 2.4rem;
}

.iz-container .header:before {
  border-radius: var(--radius) var(--radius) 0 0;
  border-bottom: 0;
  bottom: 0;
}

.iz-container .content {
  z-index: 1;
  position: relative;
  display: block;
  padding: var(--padY) var(--padX) calc(var(--padY) * 1.75) var(--padX);
}

.iz-container .content:before {
  border-radius: 0 0 var(--radius) var(--radius);
  border-top: 0;
  top: 0;
  border-color: rgba(var(--dark), 0.5);
}

.iz-container .content *:nth-child(1) {
  margin-top: 0;
}

.iz-container .content *:nth-last-child(1) {
  margin-bottom: 0;
}

.iz-container h2 {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  color: rgb(var(--dark));
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  line-height: 1.5;
  letter-spacing: 1px;
  margin-left: calc(-1 * var(--inset));
  margin-right: calc(-1 * var(--inset));
  margin-top: 1.6em;
}

.iz-container h2:after,
.iz-container h2:before {
  content: "";
  flex: 1;
  display: block;
  height: 1.5px;
  background: rgba(var(--dark), 0.5);
}

.iz-container h2:before {
  margin-right: var(--inset);
}

.iz-container h2:after {
  margin-left: var(--inset);
}

.iz-container b {
  color: rgb(var(--dark));
  letter-spacing: 0.5px;
}

.iz-container .ooc {
  margin-top: var(--padY);
  padding: var(--padY) 0 0 0;
  font-size: 0.8rem;
  border-top: 1px solid rgb(var(--light));
}

.iz-container .pkmn {
  margin-top: -12px;
  margin-left: -10px;
}

.iz-container pkmn {
  position: relative;
}

.iz-container pkmn:before {
  content: '';
  background: white;
  display: block;
  top: 34%;
  left: 20%;
  position: absolute;
  border-radius: 100%;
  z-index: -1;
  width: 30px;
  height: 30px;
  background: rgba(var(--light), 0.8);
  box-shadow: 2px 2px 25px rgba(var(--dark), 0.5);
}

.iz-container pkmn:after {
  content: attr(data-hp);
  position: absolute;
  font-size: 11px;
  color: rgb(85, 85, 85);
  mix-blend-mode: multiply;
  text-align: center;
  bottom: -1em;
  left: 0;
  right: 9px;
  text-shadow: 0 0 2px rgb(var(--light));
}

.iz-container pkmn.pokeball:before {
  background-image: url(//solizzy.github.io/templates/supercluster/pokeball.svg);
  background-size: cover;
  background-blend-mode: soft-light;
}

/* FOR THREAD TRACKERS */

.iz-threads thread {
  display: block;
  width: max-content;
  margin: 5px 0;
}

.iz-threads thread.complete {
  font-style: italic;
  opacity: 0.8;
}

.iz-threads thread.ongoing {
  font-weight: bolder;
}

.iz-threads thread[title]::before {
  content: '';
  display: inline-block;
  background-image: url(https://solizzy.github.io/templates/supercluster/pokeball.svg);
  background-color: rgb(var(--dark));
  width: 1em;
  height: 1em;
  border-radius: 100%;
  margin: 0 0.3em 0 -1.3em;
  transform: translateY(3px);
}

/* FOR PHONE THREADS */

.iz-phone {
  --widthMsg: 32ch;
  --radius: 10px;
  border-radius: var(--radius);
  position: relative;
  margin: 1.5rem auto;
  width: 100%;
  max-width: calc(var(--widthMsg) * 1.25);
  padding-bottom: 0.1px;
}

.iz-phone contact {
  display: block;
  color: #fcfcfc;
  text-shadow: 0 0 2px rgb(var(--light));
  font-size: 1.35em;
  letter-spacing: 1px;
  padding: 1.4rem 1rem 1rem 1rem;
  border-radius: var(--radius) var(--radius) 0 0;
  position: relative;
  font-weight: bold;
}

.iz-phone, .izphone contact {
  background-image: linear-gradient(to bottom right, rgba(var(--dark), 1), rgba(var(--light), 1));
}

.iz-phone messages {
  display: block;
  margin: 3px;
  padding: 0.4rem 1rem 0.4rem 1rem;
  border-radius: calc(var(--radius) *0.8);
  background-color: #fcfcfc;
}

.iz-phone messages > * {
  --bg: rgba(var(--light), 0.6);
  display: block;
  box-sizing: border-box;
  max-width: min(88%, var(--widthMsg));
  margin: 0.8rem 0 0.8rem auto;
  border-radius: var(--radius) 0 var(--radius) var(--radius);
}

.iz-phone messages > *.from {
  --bg: rgb(233, 233, 233);
  margin: 0.25rem auto 0.25rem 0;
  border-radius: 0 var(--radius) var(--radius) var(--radius);
}

.iz-phone message {
  display: block;
  background-color: var(--bg);
  padding: calc(var(--radius) * 1.2);
  width: max-content;
}

.iz-phone .emoji {
  max-width: min(80%, var(--widthMsg), 100px);
}
